<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/T2WORK_LIUYIYU/src/Work9_fibo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Work9_fibo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="T2WORK_LIUYIYU"/>
</launchConfiguration>
